<launch>
  	<node pkg="driver_node" type="driver_node" name="slave_driver_node" required="true" />
        <node pkg="encoder_node" type="encoder_node" name="slave_encoder_node" required="true"/>
        <node pkg="slave_fsm" type="slave_fsm" name="slave_fsm_node" required="true" output="screen"/>
</launch>
